extends layout.pug

block title
  title Page Not Found

block content 
  h1 Page Not Found
    h2.error Oooops!
    img(src="/static/images/page-not-found.jpg" alt="page-not-found.jpg" width="600" height="400")