extends layout.pug

block title
  title Page Not Found

block content 
  h1 Page Not Found
  p
    a.button.expanded(href="/books") Back to List
    div.formbox
      div.forminnerbox
        div.fourohfour
          |404 - Page Not Found