extends layout.pug

block title
  title Search Results

block content 
  div
    h1 Search Results
    div.homelinkmargin
      a.button.expanded.homelink(href="/books/new") Create New Book
    div.homelinkmargin
      a.button.expanded.homelink(href="/search") Search Books
    if bookList.length == 0
      div.formbox
        div.forminnerbox
          |No Results Found!
    else
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in bookList
            tr
              td 
                a(href="/books/" + book.id)= book.title
              td= book.author
              td= book.genre
              td= book.year
    p
      a.button.expanded(href="/books") Back to List